/* llamado de fuentes y iconos de materialize*/
@font-face {
	font-family: 'Material Icons'; 
	src:url("../fonts/Material-Design-Icons.woff2") format('woff2');
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal; 
	-webkit-font-feature-settings: 'liga'; 
}
#main {
	flex: 1 0 auto;
}
/*///////////////////////// Estilos generales emanuel /////////////////////////*/
body, html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #333;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	font-size: 13px;
}

.point{
	cursor:default;
}
#modal1 { 
	width: 55%;
	height: 60%;
}
#modal4 {
	width: 75%;
	height: 80%;
	max-height: 100%;
}
.bornav{
	border-left-style: solid;
	border-right-style: solid;
	border-color: black;
	border-left-width: 1px;
	border-right-width: 1px;
}
.position{
	margin-left: 80%;
	margin-top: 5%;
}

.wiimg{
	height: 20%;
	
}
.full-width{
	margin: 0;
	padding: 0;
	width: 100%;
}
.center-box{
	margin:0 auto;
}
.customtableuser th:nth-child(1){
	width: 5%;		
}
#myTable{
	table-layout: auto;
	border-collapse: collapse;
}
.topsito{
	top: 0;
}
.modalback{
	background-color: white;
}
.ventana{
	margin-left: 25px;
	margin-right: 25px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	@media only screen and (max-width : 992px) {
		header, main, footer {
			padding-left: 0;
		}
	}
}
.pcpdef{
	margin-top: 4px;
}
.limarg{
	margin-top: 0;
	top: 0;
	padding-top: 0;
	
}
.imgnavinit{
	margin-left: -18px;
}
.imgnav{
	margin-left: 22%;
	top: 0;
	position:absolute;
}
.marginbtnmenu{
	margin-left: -1%;
	margin-top: -1%;
}
.margin1{
	margin-top: 40%;
}
.search{
	color:white;
}
.justify{
	text-align: justify;
	text-justify: inter-word;
}
.animatedicon{
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0.3s;
	-webkit-animation-iteration-count: 3;
}
/*burguer button*/
.container-1 {
	display:inline-block; 
	cursor: pointer;
}
.bar1, .bar2, .bar3 {
	width: 10px;
	height: 10px;
	background-color: white;
}
/*dropdown button*/
.nav2 ul {
	background:#333;
}
.nav2 ul:after {
	clear:both;
}
.nav2 ul > li {
	position:relative;
}
.nav2 a {
	color:#fff;
	display: block;
}
.nav2 a:hover {
	text-decoration:none;
	background:#595959;
}
.nav2 li ul {
	background-color: RGB(45,30,40);
}
.nav2 li ul li {
	width:160px;
	color: white;
}
.nav2 li ul li a {
	color: white;
	font-size: 13px;
}
.nav2 li ul a {
	border:none;
}
.nav2 li ul a:hover {
	background:rgba(0,0,0,0.2);
}
.nav2 li ul {
	position:absolute;
	right:-9999em;
	z-index:1;
}
.nav2 ul > li:hover ul {
	right:110;
}
.nav2 li ul {
	position:absolute;
	right:0;
	max-height:0;
	overflow:hidden;
	-webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
	-webkit-transform-origin:50% 0;
	-webkit-transition:350ms;
	-moz-transition:350ms;
	-o-transition:350ms;
	transition:350ms;
}
.nav2 ul > li:hover ul {
	max-height:1000px;
	-webkit-transform:perspective(400) rotate3d(0,0,0,0);
}
/* estilos barra search de auditoria*/ 
.collapsible-header:hover {
	background-color:beige;
}
/*estilos barra search usuarios*/
.marginser{
	margin-left: -325%;
	margin-bottom: -10%;
}

/*====== Navegación lateral*/

.NavLateralDivider{
	height: 0 !important;
	width: 100% !important;
	background-color: transparent;
	border: none; 
	border-top: 1px solid rgba(0,0,0,0.9);
	border-bottom:1px solid rgba(255,255,255,0.08);
	margin: 0 auto !important; 	
}
.NavLateral-Nav ul li a{
	height: 45px;
	line-height: 45px;
	width: 100%;
	font-size: 12px;
	padding-left: 2px;
	display: block;
	color: white;
}
.NavLateral-Nav ul li a i{
	font-size: 18px;
}
.NavLateral-Nav ul li a:hover{
	color: #FFF;  
	background-color: #0097a7;
}
.menumar{
	margin-top: -40px;
	margin-bottom: 10px;
}
.NavLateral-CaretDown{
	float: right;
	line-height: 60px;
	font-size: 15px !important;  
}
.NavLateral-CaretDownRotate{
	transform: rotate(-180deg);   
}
.NavLateral-Nav > ul > li > ul{
	background-color: RGB(45,30,40);
	display: none;
}
.NavLateral-Nav > ul > li > ul > li > a{
	padding-left: 20px;
}
/*///////////////////////// Estilos home.html /////////////////////////*/
/*====== Tile*/
.tile,
.tile-icon,
.tile-caption,
.tile-link{
	margin: 0;
	padding: 0;
}
.tile-icon,
.tile-caption{
	height: 110px;
	position: absolute;
	top: 0;
	color: #7683CA;
}
.tile{
	margin: 5px;
	display: inline-block;
	width: 300px;
	height: 150px;
	background-color: #fff;
	border: 1px solid rgba(63,81,181,.3);
	position: relative;
}
.tile-icon{
	left: 0;
	width: 100px;   
}
.tile-icon i{
	height: 100%;
	width: 110px;
	line-height: 110px;
	font-size: 50px;
}
.tile-caption{
	right: 0;
	width: 200px;
}
.tile-caption span{
	height: 60px;
	width: 100%;
	display: block;
	line-height: 60px;
	font-size: 35px;
}
.tile-caption p{
	height: 50px;
	margin: 0;
	padding: 0;
}
.tile-link{
	color: #fff;
	background-color: #3F51B5;
	bottom: 0;
	left: 0;
	position: absolute;
	height: 40px;
	line-height: 40px;
	width: 100%;
	transition: all .3s ease-in-out;
}
.tile-link:active,
.tile-link:focus{
	outline: none;
}
/*///////////////////////// Estilos login.html /////////////////////////*/
/*#login{
background-image: url(../assets/img/MaterialFontLogin.jpg);
}*/
.container-login{
	margin: 0;
	padding: 10px;
	width: 100%;
	border-radius: 4px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #333;
}
.container-login2{
	margin: 0;
	padding: 20px;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #333;
}
.container-login label{
	color: #333;
}
/*---------------------------------------------------------------------------------*/
/* Side Nav*/
.sidenav {
	height: 100%; 
	width: 0;
	position: fixed; 
	z-index: 1; 
	top: 0;
	left: 0; 
	overflow-x: hidden; 
	transition: 0.5s;
}
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 35px;
	color: white;
	display: block;
	transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
	color: gray;
}
.sidenav .closebtn {
	margin-left: 140px;
	margin-top: 50px;
}
#main {
	transition: margin-left .5s;
}
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
/* css list de auditoria*/
#myInput {
	width: 13%; 
	font-size: 12px; 
	margin-bottom: 5%; 
}
#myUL {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
/*Search barr*/
.marginli{
	margin-top: -12px;
}
nav ul a:hover{
	background: transparent !important;
}
.posiico{
	margin-top: -50%;
	margin-right: 50%;
}
@media screen and (max-width: 560px) {
	.search-wrapper.active .input-holder {width:200px;}
}
/*estilos  expedientes*/
.spanmar{
	font-size: 12px;
}
.divchip{
	display: inline-block;
	padding: 10px 60px 10px 10px;
	margin-top: 5%;
}
.divchip2{
	width: 140px;
	height: 65px;
	display: inline-block;
	margin: 0 auto;
}
.marb{
	margin-left: 87%;
	margin-bottom: 3%;
	margin-top: 3%;
}
.martext{
	margin-left: 50%;
}
.marexp{
	margin-top: 0px;
	border-radius: 0px;
}
.wis{
	width: 10%;
	margin-left: 15%;
	margin-top: -3.6%;
	margin-bottom: 0%;
}
.wis2{
	width: 23%;
	margin-left: -18%;
	margin-top: -3.6%;
	margin-bottom: 0%;
}
.edimar{
	position: relative;
	left: 37%;
	z-index: 0;
}
.edimar2{
	position: relative;
	left: 112%;
	margin-top: 2%;
	z-index: 0;
}
.edimar3{
	position: relative;
	left: 110%;
	z-index: 0;
	margin-top: 2%;
}
.spanmar2{
	margin-left: 80%;
	color:black;
}
.btnplus{
	margin-left:112%;
	margin-bottom: -52px;
}
.mitad1{
	width: 48%;
	margin-left: 1%;
}
.mitad2{
	width: 48%;
	margin-right: 1%;
}
.contentcard{
	margin-top: -12.5px;
	height: 400px;
	max-height: 420px;
}
.marchip{
	margin-top: 1%;
}
.posag{
	margin-left: 46%;
	margin-top: 500px;
	position:absolute;
}
.padx{
	margin-left: 97%;
	
}
.divexp{
	height: 100%;
    
}

.btnag{
	margin-top: 0;
}

.labelmov{
	transform: translateY( -220%)!important;
}

.labelmov2{
	transform: translateY( -220%)!important;
	margin-left: -10px;
}

/*datepicker*/
.picker { outline: none; font-size: 13px; } /* Optional feature */
/* cabezera */
.picker__weekday-display { background-color: #0097A7; font-weight: 600;}
/* Body */
.picker__date-display { background-color: #00BCD4; }
/* Botones y acciones */
.picker__nav--prev:hover { background-color: #fff3e0; }
.picker__nav--next:hover { background-color: #fff3e0; }
.picker__nav--prev:before {
	border-left: 0;
	border-right: 0.75em solid #00BCD4;
}
.picker__nav--next:before {
	border-right: 0;
	border-left: 0.75em solid #00BCD4;
}
.picker__today { color:  #00BCD4; }
.picker__clear { color:  #00BCD4;}
.picker__close { color:  #00BCD4; }
.btn-flat.picker__today:active { background-color: #fff3e0; }
.btn-flat.picker__close:active { background-color: #fff3e0; }
.btn-flat.picker__clear:active { background-color: #fff3e0; }
/* Selector de mes  */
.picker__select--month.browser-default {
	display: inline;
	background-color: #FFFFFF;
	border: none;
	outline: none;
}
/* cada mes de año exepto hoy */
.picker__day { /* si lo quieres customizar */ }
.picker__day:hover { /* tambn si lo quieres customizar */ }
.picker__day--infocus:hover { color: #f57c00; }
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected { 
	color: #F5F4F3;  font-weight: 700;
}
.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted { background-color:  #00BCD4;}
/* Today */
.picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted { background-color:  #00BCD4; }
.picker__day.picker__day--today 
{ color: #0097A7;  font-weight: 700;}
/* users */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
